[metadata]
org = "gofunky.fun"
maintainer = "matfax (mat@fax.fyi)"
description = "Azure Kubernetes Autoscaling Service"

[settings]
kubeContext = "akscale"
storageBackend = "secret"
serviceAccount = "akscale-sa"

[namespaces]
    [namespaces.akscale]
    installTiller = true
    protected = true
    tillerServiceAccount = "akscale-sa"

[apps]
    # akscale will be deployed using the Tiller in the akscale namespace
    [apps.akscale]
    enabled = true # change to false if you want to delete this app release [default = false]
    chart = "." # changing the chart name means delete and recreate this release
    version = "0.1.0" # chart version
    ### Optional values below
    name = "akscale" # should be unique across all apps which are managed by the same Tiller
    valuesFile = "" # leaving it empty uses the default chart values
    tillerNamespace = "akscale" # which Tiller to use to deploy this release
    purge = true # will only be considered when there is a delete operation
    test = false # run the tests when this release is installed for the first time only
    protected = true
    priority= -2
    wait = true
    [apps.akscale.set] # values to override values from values.yaml with values from env vars or directly entered
         azureClientID = "$CLIENT_ID"
         azureClientSecret = "$CLIENT_SECRET"
         azureResourceGroup = "$AKS_RESOURCE_GROUP"
         azureSubscriptionID = "$SUBSCRIPTION_ID"
         azureTenantID = "$AZURE_TENANT_ID"
         azureClusterName = "$AKS_CLUSTER_NAME"
         azureNodeResourceGroup = "$NODE_RESOURCE_GROUP"
